{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-organize-imports"],
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "useTabs": false
}
